
process {
  cpus = 16
  memory = "4G"
  errorStrategy = { task.attempt <= 2 ? "retry" : "finish" }
  maxRetries = 1
}


params {

    /// Default parameter values

    params_description =  "lib/params/parameters.settings.json"

    entrypoint=1
    exitpoint=5

    generate_labels=true

    help=false
    version=false

    output_dir="output"

//    elution_pattern=""
//    features_patttern=""
//    feature_matrix=""
//    feature_matrix_labeled=""
//    scored_interactions=""

//    goldstandard_complexes=""
//    generate_labels = true
//    merge_threshold=0.6
//    complex_size_threshold=30
//    negatives_from_observed=true
//    negative_limit=20000
//
//    postrain=""
//    negtrain=""
//    postest=""
//    negtest=""    
//    classifiers_to_scan=""
//    generations=10
//    population=20
//    n_jobs=20
//
//    walktrap_steps=3
//    annotation_file=""
//    elution_file=""
//
//    plot_pr="False"
//    fdr_cutoff=0.2
}

// Copied from MLST
params.info_dir = ".default_hidden"
params.pipeline_info = "${params.info_dir}/pipeline_info"
timeline {
  enabled = true
  file = "${params.pipeline_info}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.pipeline_info}/execution_report.html"
}
dag {
  enabled = true
  file = "${params.pipeline_info}/pipeline_dag.pdf"
}

