//process.container =  'clairemcwhite/cfmsflow:latest'


docker {
    enabled = true
    temp = 'auto'
    fixOwnership = true
}

process {
  container = 'clairemcwhite/cfmsflow:latest'
  cpus = 16
  memory = "10G"
  //errorStrategy = { task.attempt <= 2 ? "retry" : "finish" }
  //maxRetries = 1 
 
}


params {

    /// Default parameter values

    params_description =  "lib/params/parameters.settings.json"

    entrypoint=""
    exitpoint=""
    using_existing_goldstandards=false

    help=false
    version=false

    output_dir="output"
    output_json=false
    make_parameter_json = false
    expose_docker_paths = false    

    tpot_template = 'Selector-Classifier'
    postrain = ""
    postest = ""
    negtrain = ""
    negtest = ""
    traincomplexgroups = ""
    input_elution_pattern = ""
    input_elution_file = ""
    input_features_pattern = ""
    input_features_file = ""
    existing_feature_matrix = ""
    existing_labeled_feature_matrix= ""

    goldstandard_complexes = ""
    merge_threshold = ""
    complex_size_threshold = ""
    negatives_from_observed = ""
    negative_limit = ""
    added_poisson_reps = ""
    classifiers_to_scan = ""
    generations = ""
    population = ""
    n_jobs = ""
    max_features_to_select = ""
    annotation_file = ""
    walktrap_steps = ""
    plot_pr = ""
    fdr_cutoff = ""



}

// Copied from MLST
params.info_dir = ".default_hidden"
params.pipeline_info = "${params.info_dir}/pipeline_info"
timeline {
  enabled = true
  file = "${params.pipeline_info}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.pipeline_info}/execution_report.html"
}
dag {
  enabled = true
  file = "${params.pipeline_info}/pipeline_dag.pdf"
}

